
#weather-section {
    background-color:#c1c18921;
    border: #1b1b1221;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}



.card{
    border: 3px solid #1b1b0221;
    border-radius: 10px;
    background-color: #dcc3c3;
    text-align: center;
}
.card #city {
    color: #444;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.card #temperature {
    font-size: 2rem;
    color: #444;
    margin: .3rem  0;
}
.card #description {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #444;
    margin: .3rem 0;
}