*{box-sizing: border-box;
    border-radius: 10px;    
}
#mydialog div {
    display: grid;
    grid-template-columns: auto 40px;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}   
#mydialog h2 {
    font-size: 1.2em;
    margin: 8px 0;
    color:rgb(10, 84, 89);
}

#mydialog button {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border: 1px solid #050000;
    padding: 10px 15px;
    border-radius: 1rem;
    cursor: pointer;
}
#mydialog button:hover {
    background-color: #f0f0f0;
}
#mydialog p {
    font-size: 1rem;
    color: #5e3f11;
    margin: 0;
}